.hidden {
  display: none;
}

.visible {
  display: grid;
}

.modal {
  width: 600px;
  height: 400px;
  position: absolute;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  background-color:  #FFFFFF;
  border-radius: 10px;
  border: 2px solid #000000;
  z-index: 5;
  left: 0;
  right: 0;
  margin: calc(50% - 535px) auto;
}


.modal__content--slider {
  width: 100%;
  height: 250px;
  transform-style: preserve-3d;
  grid-row: 2 / 3;
  align-self: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  width: 200px;
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  transition: transform 0.5s ease;
  cursor: pointer;
  display: grid;
  place-items: center;
  background-color: var(--primary-color);
  color: transparent;
}

.card img {
  width: 90%;
  height: auto;
}

input[type="radio"] {
  display: none;
}

#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}